@model IEnumerable<ProjetoGestao.Models.Colaborador>
@{
    ViewData["Title"] = "Sucesso";
}

<h1>Sucesso!</h1>
<p>Colaborador Criado com sucesso</p>
<a class="btn btn-primary" asp-action="Index">Ver Colabroradores</a>


