@model IEnumerable<ProjetoGestao.Models.Colaborador>
@{
    ViewData["Title"] = "Sucesso";
}

<h1 class="text-success">@ViewBag.Title</h1>
<p class="lead">@ViewBag.Message</p>
<a class="btn btn-primary" asp-action="Index">Ver Colabroradores</a>


