@{
    ViewData["Title"] = "Home Page";
}



<section class="PageHome">

    <div class="container-fluid hero PaddingCont1PageHome">
        <div class="row">
            <div class="col-sm-1">


            </div>
            <div class="col-sm-10">
                <p>Welcome to our</p>
                <h1 class="TitleCont1PageHome"> World's Creative<br>ManagementProject</h1>
                <button class="button">Take a tour</button>


            </div>
            <div class="col-sm-1">


            </div>

        </div>

        <div class="navs">

            <img src="~/Imagens/SpaceMan1.png">
            <img src="~/Imagens/nav.png">
            <img src="~/Imagens/SpaceMan1.png">


        </div>

        <div class="spacemanfallings">
            <img src="~/Imagens/SpaceMan3.png">
            <img src="~/Imagens/SpaceMan3.png">

        </div>
    </div>

</section>

<section class="py-5 SecondSectionPageHome" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <img src="~/Imagens/nav.png" />
            </div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <h3 class="AddColorLastContPageHome">Coordinate your team with ease</h3>
                        <p class="mb-0">Have an efficient schedule and visualize the entire scope of work to ensure deliveries happen smoothly and accurately.</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <img src="~/Imagens/SpaceMan3.png" width="300" />
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <img src="~/Imagens/SpaceMan1.png" width="300" />
                    </div>
                    <div class="col h-100">
                        <h3 class="AddColorLastContPageHome">Automate the workflow</h3>
                        <p class="mb-0">Free your team from repetitive tasks so they can focus on what really matters, generating impact and innovation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial section-->
<div class="py-5 LastContPageHome">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-7">
                <div class="text-center">
                    <div class="fs-4 mb-4 fst-italic">A great management tool, developed to adapt to different needs.<br> We work every day to <strong class="AddColorLastContPageHome">make your life easy and happy.</strong></div>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container-fluid Cont1PageAbout">

        <div class="row MarginCont1PageAbout">
            <div class="col-sm-1">
                <!--Space from left side-->
            </div>
            <div class="col-sm-10 pt-4">
                <div class="grid-container">
                    <div class="grid-item GridCont1PageAbout"><a href="#" class="gradient-text">Projetos</a></div>
                    <div class="grid-item GridCont1PageAbout"><a class="gradient-text"  asp-area="" asp-controller="NovoColaborador" asp-action="Index">Colaboradores</a></div>
                    <div class="grid-item GridCont1PageAbout"><a href="#features" class="gradient-text">Features</a></div>
                    <div class="grid-item GridCont1PageAbout"><a href="#pricing" class="gradient-text">Pricing</a></div>
                    <div class="grid-item GridCont1PageAbout"><a href="#team" class="gradient-text">Team</a></div>
                </div>
            </div>
            <div class="col-sm-1">
                <!--Space from right side-->
            </div>

        </div>

    </div>

</section>

