@{
    ViewData["Title"] = "About";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Road+Rage&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">

<body>
    <section>
        <div class="container-fluid Cont1PageAbout">

            <div class="row MarginCont1PageAbout">
                <div class="col-sm-1">
                    <!--Space from left side-->
                </div>

                <div class="col-sm-4">
                    <h2 class="TitleCont1PageAbout">About us <span class="ColorTitleCont1PageAbout">.</span></h2>
                    <p class="ParagraphCont1PageAbout">Manage your projects through ManageProjects, <strong> the safest and fastest manage tool</strong> on the market. </p>
                    <div class="buttons">

                        <a href="#" class="btn btn--color1">Join us</a>
                        <a href="#" class="btn btn--color2">Contact us</a>
                    </div>
                </div>

                <div class="col-sm-6 pt-4">
                    <div class="grid-container">
                        <div class="grid-item GridCont1PageAbout"><a href="#" class="gradient-text">Product</a></div>
                        <div class="grid-item GridCont1PageAbout"><a href="#security" class="gradient-text">Security</a></div>
                        <div class="grid-item GridCont1PageAbout"><a href="#features" class="gradient-text">Features</a></div>
                        <div class="grid-item GridCont1PageAbout"><a href="#pricing" class="gradient-text">Pricing</a></div>
                        <div class="grid-item GridCont1PageAbout"><a href="#team" class="gradient-text">Team</a></div>
                    </div>
                </div>

                <div class="col-sm-1">
                    <!--Space from right side-->
                </div>

            </div>

        </div>

        <div class="container-fluid Cont2PageAbout pt-4">
            <div>
                <h2 class="TitleCont2PageAbout">Good people establishes <strong class="ColorTitleCont1PageAbout">trust</strong></h2>
                <p class="ParagraphCont2PageAbout">Do you have a project in mind?</p>
                <div class="buttonCont2PageAbout">
                    <a href="#" class="btn btn--color1">Lets talk</a>
                </div>
            </div>

        </div>

        <div class="container-fluid Cont3PageAbout pt-5">
            <div>
                <h2 class="TitleCont3PageAbout pb-5">Our Team</h2>

                <div class="row">
                    <div class="col-lg">

                        <div class="text-center">
                            <img class="rounded-circle OurTeam" src="~/Imagens/Fabio.jpg" alt="Our Team">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Fábio Abreu</h3>
                            <h5 class="card-subtitle text-center">Eng. Informático</h5>
                        </div>

                    </div>
                    <div class="col-lg">

                        <div class="text-center">
                            <img class="rounded-circle OurTeam" src="~/Imagens/Telmo.jpg" alt="Our Team">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Telmo Morais</h3>
                            <h5 class="card-subtitle text-center">Eng. Informático</h5>
                        </div>
                    </div>

                    <div class="col-lg">

                        <div class="text-center">
                            <img class="rounded-circle OurTeam" src="~/Imagens/Yuri.jpg" alt="Our Team">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Leonardo Marques</h3>
                            <h5 class="card-subtitle text-center">Eng. Informático</h5>

                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="container-fluid Cont1PageAbout">
            <div class="row MarginCont1PageAbout">
                <div class="col-sm-1">
                    <!--Space from left side-->
                </div>

                <div class="col-sm-4">
                    <h2 class="TitleCont4PageAbout">Why us?</h2>
                </div>

                <div class="col-sm-6 pt-4">
                    <div class="ParagraphCont4PageAbout">
                        <p class="ParagraphCont5PageAbout">We believe that we have an extremely qualified team with an exceptional product.</p>
                        <p class="ParagraphCont5PageAbout">Save more time for yourself through our app.</p>
                    </div>
                </div>

                <div class="col-sm-1">
                    <!--Space from right side-->
                </div>

            </div>
        </div>



        <div class="container-fluid Cont1PageAbout MarginCont5PageAbout">

            <div class="row justify-content-start">
                <div class="col-4">
                    <!--Space from left side-->
                </div>
                <div class="col-4">
                    <a id="security" class="TitleCont5PageAbout">Security</a>
                    <h4>Trusted by millions of developers</h4>
                    <p class="ParagraphCont5PageAbout">We protect and defend the most trustworthy platform for developers everywhere to create and build software.</p>
                </div>
                <div class="col-4">
                    <!--Space from right side-->
                </div>
            </div>

            <div class="row justify-content-center MarginCont5PageAbout">
                <div class="col-4">
                    <!--Space from left side-->
                </div>
                <div class="col-4">
                    <a id="features" class="TitleCont5PageAbout">Features</a>
                    <h4>The tools you need to build what you want</h4>
                    <p class="ParagraphCont5PageAbout">Make sure you see the changes you care about.</p>
                </div>
                <div class="col-4">
                    <!--Space from right side-->
                </div>
            </div>

            <div class="row justify-content-center MarginCont5PageAbout">
                <div class="col-4">
                    <!--Space from left side-->
                </div>
                <div class="col-4">
                    <a id="team" class="TitleCont5PageAbout">Team</a>
                    <h4>Build like the best teams on the planet</h4>
                    <p class="ParagraphCont5PageAbout">Manage everything in one place</p>
                </div>
                <div class="col-4">
                    <!--Space from right side-->
                </div>
            </div>

            <div class="row justify-content-end MarginCont5PageAbout">
                <div class="col-8">
                    <a id="pricing" class="TitleCont5PageAbout">Pricing</a>
                    <div class="grid-container">
                        <div class="grid-item">
                            <h3 class="ColorPricingOptionsTitle">Free</h3><br />
                            <p class="ParagraphCont5PageAbout">The basics for individuals<br />and organizations</p>
                            <p class="ParagraphCont5PageAbout"> 0 € per user/month</p>
                            <a href="#" class="btn btn--color1">Join for free</a>

                        </div>
                        <div class="grid-item">
                            <h3 class="ColorPricingOptionsTitle">Team</h3><br />
                            <p class="ParagraphCont5PageAbout">Advanced collaboration for<br /> individuals and organizations</p>
                            <p class="ParagraphCont5PageAbout"> 4 € per user/month</p>
                            <a href="#" class="btn btn--color3">Continue with Team</a>
                        </div>
                        <div class="grid-item">
                            <h3 class="ColorPricingOptionsTitle">Enterprise</h3><br />
                            <p class="ParagraphCont5PageAbout">Security, compliance,<br />and flexible deployment</p>
                            <p class="ParagraphCont5PageAbout"> 21 € per user/month</p>
                            <a href="#" class="btn btn--color1">Contact Sales</a>
                        </div>

                    </div>
                </div>

            </div>


        </div>
                                 

    </section>
</body>