@model ProjetoGestao.Models.Funcao

@{
    ViewData["Title"] = "Eliminar Funcao";
}

<h4 class="mt-5">Eliminar Função</h4>
<h3 class="text-danger">Tem a certeza que pretende eliminar?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFuncao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeFuncao)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="FuncaoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
