/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*---------------------------------------------------------------------------------------------------------------------*/
/*Page About*/
/*---------------------------------------------------------------------------------------------------------------------*/

/*First Container*/
.MarginCont1 {
    margin-top: 2%;
}

.AlignCont1Row1 {
    padding-left: 2%;
    padding-top: 17%;
    padding-bottom: 7%;
}

.ColorTitleCont1 {
    color: rgb(255,193,7);
}

.imgCont1 {
    max-width: 100%;
    height: auto;
    text-align: center;
}

/*Second Container*/
.videoContainer2 {
    padding-top: 10%;
    text-align: center;
    max-width: 100%;
    height: auto;
}

/*Third Container*/
.AlignContainer3 {
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
}

.colorSubTitleContainer3 {
    color: rgb(255,193,7);
}


/*Fifth Container*/
.AlignContainer5 {
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
}

/*Sixth Container*/
.ImgsContainer6 {
    max-width: 50%;
    height: auto;
    
}

.MarginTopContainer6 {
    margin-top: 2%;
    margin-bottom: 2%;
}

/*Seventh Container*/
.AlignContainer7 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.PaddingContainer7 {
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
}

/*---------------------------------------------------------------------------------------------------------------------*/


.input-validation-error {
    border-color: red;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height*/
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
